---
layout: default
title: Home
---

{% include intro.html %}
<section class="post-list">
  <div class="container">
    <h3>News</h3>
    <div class="scrollable">
    {% for post in site.data.news %}
    <article class="news-item">
      <p>&#8226; {{ post.date | date: '%B %Y' }}: {{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    </article>
    {% endfor %}
    </div>
  </div>
</section>
<section class="post-list">
  <div class="container">
    <h3>Research</h3>
    <p>* indicates equal contribution</p>
    {% for article in site.data.publications limit:9 %}
      <article class="publication-item">
        <div class="publication-title">
          {% if article.link and article.link.url %}
            <a class="link" href="{{ article.link.url }}">{{ article.title | markdownify }}</a>
          {% else %}
            {{ article.title | markdownify }}
          {% endif %}
        </div>
        <p>{{ article.authors | markdownify | remove: '<p>' | remove: '</p>' }}</p>
        <p>{{ article.venue }} {{ article.date | date: '%Y' }}</p>

        {% assign links = "" %}

        {% if article.link and article.link.url %}
          {% assign links = links | append: '<a class="link" href="' | append: article.link.url | append: '">PDF</a>' %}
        {% endif %}

        {% if article.blogpost and article.blogpost.url %}
          {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
          {% assign links = links | append: '<a class="link" href="' | append: article.blogpost.url | append: '">Blog post</a>' %}
        {% endif %}

        {% if article.press and article.press.url %}
          {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
          {% assign links = links | append: '<a class="link" href="' | append: article.press.url | append: '">' | append: article.press.title | append: '</a>' %}
        {% endif %}

        {% if links != "" %}
          <p>[ {{ links }} ]</p>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>
<section class="intro">
  <div class="container">
    <h3>Resume CV</h3>
    <a href="{{ '/assets/media/stephanie_wang_24.pdf' | prepend: site.baseurl | prepend: site.url }}">CV</a>
  </div>
</section>
{% include contact.html %}