---
layout: default
title: Home
---

{% include intro.html %}
<section class="post-list">
  <div class="container">
    <h3>News</h3>
    <div class="scrollable">
    {% for post in site.data.news %}
    <article class="publication-item">
      <p>&#8226; {{ post.date | date: '%B %Y' }}: {{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    </article>
    {% endfor %}
    </div>
  </div>
</section>
<section class="post-list">
  <div class="container">
    <h3>Research</h3>
    {% for article in site.data.publications limit:9 %}
    <article class="publication-item" style="padding-bottom: .5em;">
      <div class="publication-title" >
          <a href="{{ article.link.url }}">{{ article.title | markdownify }}</a>
      </div>
      <p>{{ article.authors | markdownify | remove: '<p>' | remove: '</p>' }}.</p>
      <p>{{ article.venue }} {{ article.date | date: '%Y' }}<p>
      <!-- <p><a class="post-link" href="{{ article.link.url }}">{{ article.link.display }}</a></p> -->
      <!-- <p style="padding-top: .25em;"><a href="{{ article.link.url }}"><img src="{{ article.link.display }}"></a></p> -->
      <p>{% if article.link.url %}
        [<a class="link" href="{{ article.link.url }}">PDF</a>]
      {% else %}
        </br>
      {% endif %}
      {% if article.blogpost.url %}
        [<a class="link" href="{{ article.blogpost.url }}">Blog post</a>]
      {% endif %}
      {% if article.blogpost.url %}
        [<a class="link" href="{{ article.press.url }}">{{ article.press.title }}</a>]
      {% endif %}
    </p>
    </article>
    {% endfor %}
  </div>
</section>
<section class="post-list">
  <div class="container">
    <h3>Resume CV</h3>
    <p><a class="link" href="{{ '/assets/media/stephanie_wang_24.pdf' | prepend: site.baseurl | prepend: site.url }}">CV</a></p>
  </div>
</section>
{% include contact.html %}