<section class="post-list">
    <div class="container">
        <h4>CONTACT</h4>
        <p>stephtw [at] seas.upenn.edu</p>
        <p><a class="link" href="https://scholar.google.com/citations?user=ZSAsKs0AAAAJ">Google Scholar</a></p>
        <p><a class="link" href="https://x.com/stephanietwang">Twitter</a></p>
        <p><a class="link" href="https://bsky.app/profile/stephanietwang.bsky.social">Bluesky</a></p>
        <p><a class="link" href="https://medium.com/@stephanietwang">Medium</a></p>
    </div>
</section>