<section class="intro">
  <div class="container">
    <p class="lead"></p>
    <img src="assets/images/image.png" width="200" style="float: right; margin-left: 25px;">
      <p style="text-align: justify">I'm a second year PhD student at the University of Pennsylvania in the <a href="https://www.cis.upenn.edu/">Computer and Information Science</a> department. I am grateful to be advised by Professor <a href="https://metaxa.net/">Danaë Metaxa</a> as a member of <a href="https://pennhci.com/">Penn HCI</a>. 
      My work is supported by an AWS gift for research in Trustworthy AI. Broadly my interests are in human-computer interaction and computational social science with a current focus on auditing social computing systems. I returned to academia after working as a software engineer on recommendation systems at Apple, and on data analytics at Sisu Data. Before that I studied Computer Science (MS) and Symbolic Systems (BS) at Stanford University.</p>

      Email: stephtw [at] seas.upenn.edu
  </div>
</section>
