<section class="intro">
  <div class="container">
    <h3>Welcome!</h3>
    <p class="lead"></p>
    <img src="assets/images/profile.jpeg" width="250" style="float: right; margin-left: 25px; margin-bottom: 25px;">
      <p>I'm a third year PhD student at the University of Pennsylvania in the <a href="https://www.cis.upenn.edu/">Computer and Information Science</a> department. I am grateful to be advised by Professor <a href="https://metaxa.net/">Danaé Metaxa</a> as a member of <a href="https://pennhci.com/">Penn HCI</a>.</p><br/>
      <p>In my research, I design controlled, large-scale experiments to study how AI systems shape information access and exposure. I also build systems that empower individuals to exert greater control over their online experiences in the face of algorithmic personalization. My aim is to inform the design of algorithmic systems that are more transparent, equitable, and accountable to their users.</p><br/> 
      <p>Before starting my PhD, I worked as a software engineer in the tech industry on data infrastructure, first at Sisu Data, then at Apple. I earned an MS in <a href="https://www.cs.stanford.edu/">Computer Science</a> and a BS in <a href="https://symsys.stanford.edu/">Symbolic Systems</a> from Stanford University. My work has been generously supported by an <a href="https://blog.seas.upenn.edu/penn-engineering-ph-d-students-receive-funding-from-amazon-to-advance-trustworthy-ai/">AWS gift for research in Trustworthy AI</a>.</p>
  </div>
</section>
