<section class="intro">
  <div class="container">
    <h4>About</h4>
    <p class="lead"></p>
    <img src="assets/images/steph.jpeg" width="250" style="float: right; margin-left: 25px; margin-bottom: 25px;">
      <p style="text-align: justify">I'm a second year PhD student at the University of Pennsylvania in the <a href="https://www.cis.upenn.edu/">Computer and Information Science</a> department. I am grateful to be advised by Professor <a href="https://metaxa.net/">Danaë Metaxa</a> as a member of <a href="https://pennhci.com/">Penn HCI</a>. My work is supported by an <a href="https://blog.seas.upenn.edu/penn-engineering-ph-d-students-receive-funding-from-amazon-to-advance-trustworthy-ai/">AWS gift for research in Trustworthy AI</a>. </p>
      <p style="text-align: justify">Broadly my interests are in human-computer interaction, applied machine learning and computational social science with a current focus on algorithm auditing.
      Prior to Penn I worked in industry as a software engineer at Apple and Sisu Data. I studied <a href="https://www.cs.stanford.edu/">Computer Science</a> (MS) and <a href="https://symsys.stanford.edu/">Symbolic Systems</a> (BS) at Stanford University.</p>

      Email: stephtw [at] seas.upenn.edu
  </div>
</section>
