
<nav class="nav">
  <div class="container">
    <div class="site-header-row">
      <h1 class="logo">{{ site.title_left }}{{ site.title_right }}</h1>
      <div class="contact-icons">
        <a href="mailto:stephtw@seas.upenn.edu" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://bsky.app/profile/stephanietwang.bsky.social" target="_blank" aria-label="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
        <a href="https://scholar.google.com/citations?user=ZSAsKs0AAAAJ" target="_blank" aria-label="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
        <a href="https://github.com/steph-w" target="_blank" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</nav>
